/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar{
  width: auto;
}

.navbar-text{
  padding-left: 10px;
  padding-right: 10px;
}

.navbar a{
  text-decoration: none;
}

.categories, .products{
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.categories ul li{
  list-style: none;
}

.categories a, .products a{
  text-decoration: none;
}

.categories a:hover, .products a:hover{
  color: blueviolet;
}

.paginate{
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.results{
  text-align: center;
}

.cart{
  text-align: center;
  padding: 5px;
}

.cart ul li{
  list-style: none;
  padding: 5px;
}

.cart img{
  max-width: 100px;
}
