<div class="categories">
  <h2>Categories</h2>

  <% @categories.order("name ASC").each do |category| %>
    <%= render category %>

    <p><%= link_to "Show products in this category", category %></p>
  <% end %>
</div>
