<div class="about">
  <h2>About Us</h2>
  <p>We are a small business located in Winnipeg, Manitoba!</p>
  <p>We have a limited stock so each product is limited to only 1 per customer.</p>
  <p>We currently only ship to locations within Canada, but hope to expand internationally in the future.</p>
</div>