<div class="categories">
  <ul>
    <% @products = Product.all.where(category: 'eyebrow').each do |product| %>
      <li><%= product.name %> - <%= link_to "Show this product", product %></li>
    <% end %>
  </ul>
</div>